<!-- <h1>HOLA MUNDO GATO!</h1>
<app-saludo></app-saludo>
<restar [num1]="13" [num2]="11"></restar>
<restar [num1]="88" [num2]="5"></restar>
<hr>
<section>
    <div class="row">
        <!-- usarlo como propiedad-->
        <!-- <user-profile class="user" nombre="Graciela Barreira" telefono="156560081" email="gracielabarreira@hotmail.com"></user-profile>
        <user-profile class="user" nombre="Luis Riera" telefono="4520593" email="luisrierawalter@hotmail.com"></user-profile>
        <user-profile class="user" nombre="Cecilia Hernando" telefono="153202325" email="hernandocecilia@live.com"></user-profile>
        <user-profile class="user" nombre="Sebastian Croce" telefono="657482212" email="sebacroce93@gmail.com"></user-profile>
        <user-profile class="user" nombre="Jimena Hernando" telefono="632439158" email="jimenahernando@hotmail.com"></user-profile> -->

        <!-- Para usarlo con array -->
        <!-- <user-profile class="user" [nombre]="arrContacts[0].nombre" [telefono]="arrContacts[0].telefono" [email]="arrContacts[0].email"></user-profile>
        <user-profile class="user" [nombre]="arrContacts[1].nombre" [telefono]="arrContacts[1].telefono" [email]="arrContacts[1].email"></user-profile>
        <user-profile class="user" [nombre]="arrContacts[2].nombre" [telefono]="arrContacts[2].telefono" [email]="arrContacts[2].email"></user-profile>
        <user-profile class="user" [nombre]="arrContacts[3].nombre" [telefono]="arrContacts[3].telefono" [email]="arrContacts[3].email"></user-profile>
        <user-profile class="user" [nombre]="arrContacts[4].nombre" [telefono]="arrContacts[4].telefono" [email]="arrContacts[4].email"></user-profile> -->
    <!-- </div> 
</section> --> -->